<ul>
    <li><b>Hover your mouse</b> over the various buttons/tools to get a description of their functionality.</li>
    <li>When zoomed in all the way, click the map to see <b>parcel information</b>.</li>
    <li>If you don't see the desired imagery layer, make sure the other <b>layer transparencies</b> are not set to 100% on.</li>
    <li>Open and close the <b>on-sceen tool drawers</b> by clicking the handles at the edge of the tool drawers.</li>
    <li>The <b>Larimer County Enterprise GIS</b> web mapping index page can be accessed by right-clicking the map and choosing the "Open LC Maps Index Page" option.<br><br>
    This will open a new web browser window at the current location.  Click the maps on that page to access all the Larimer County online mapping products.</li>
    <li>The <b>overview map</b> is interactive.  You can drag/drop the map extent rectangle to repostion the main map.</li>
  </ul>
