		<div class="logos">
			<a href="http://larimer.org" target="_blank" tooltip-placement="top" tooltip="Larimer County"><img src="http://larimer.org/images/logos/logo_color_200px.png" alt="Larimer County"></a><a href="http://larimer.org/gis/" target="_blank"  tooltip-placement="top" tooltip="GIS Department"><img src="http://larimer.org/images/logos/larimer-gis.png" class="gis" alt="Larimer County"></a>
			<div class="social">
				<a href="https://www.facebook.com/sharer/sharer.php?u=" tooltip-placement="left" tooltip="Share on Facebook" target="_blank"><i class="fa fa-facebook-square"></i></a>
			<a href="https://twitter.com/home?status=" tooltip-placement="top" tooltip="Share on Twitter" target="_blank"><i class="fa fa-twitter-square"></i></a>
				<a href="https://plus.google.com/share?url=}" tooltip-placement="top" tooltip="Share on Google + " target="_blank"><i class="fa fa-google-plus-square"></i></a>
				<a data-target="#modalShare" data-toggle="modal" tooltip-placement="top" tooltip="Share by Email"><i class="fa fa-envelope"></i></a>
			</div>
		</div>