<script>
// Resizeable modal  
  $(".resize").on("resize", function(event, ui) {
//    ui.element.css("margin-leftuui".size.width/2);
//    ui.element.css("margin-topuui".size.height/2);
    ui.element.css("top0%");
    ui.element.css("left0%");

    $(ui.element).find(".modal-body").each(function() {
      $(this).css("max-height", 400 + ui.size.height - ui.originalSize.height);
    });
}); 
$(".resize").resizable();

$(".drag").draggable({
  cursor: "move",
  containment: "window",
   handle: ".panel-heading"
});
</script>
<div class="btn-toolbar toolbar-main map-buttons" role="toolbar">
	<div class="btn-group-vertical btn-group-sm">
<!--	<button ng-repeat="panel in vm.panels" type="button" class="btn btn-primary {{panel.name}}-toggle" tooltip-placement="left" tooltip="{{ panel.name | capitalize }}" ng-click="vm.navToolbarToggle(0); {{panel.name}}-panel=!{{panel.name}}-panel" ng-init="{{panel.name}}-panel=false"><span class="{{panel.glyph}}" aria-hidden="true"></span></button>
-->
		<button type="button" class="btn btn-primary legend-toggle" tooltip-placement="left" tooltip="Legend" ng-click="vm.navToolbarToggle(0); legend=!legend" ng-init="legend=false"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></button>
		<button type="button" class="btn btn-primary layer-toggle" tooltip-placement="left" tooltip="Layers" ng-click="vm.navToolbarToggle(0); layer=!layer" ng-init="layer=false"><span class="glyphicon glyphicon-align-center" aria-hidden="true"></span></button>
		<button type="button" class="btn btn-primary basemap-toggle" tooltip-placement="left" tooltip="Basemap" ng-click="vm.navToolbarToggle(0); basemapgal=!basemapgal" ng-init="basemapgal=false"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></button>
		<button type="button" class="btn btn-primary select-toggle"  tooltip-placement="left" tooltip="Select" ng-click="vm.navToolbarToggle(0); select=!select" ng-init="select=false"><span class="glyphicon glyphicon glyphicon-hand-up" aria-hidden="true"></span></button>
		<button type="button" class="btn btn-primary markup-toggle"  tooltip-placement="left" tooltip="Markup" ng-click="vm.navToolbarToggle(0); markup=!markup" ng-init="markup=false"><span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
		<button type="button" class="btn btn-primary measure-toggle"  tooltip-placement="left" tooltip="Measure" ng-click="vm.navToolbarToggle(0); vm.deactivateDraw(); measure=!measure" ng-init="measure=false"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
		<button type="button" class="btn btn-primary bookmark-toggle"  tooltip-placement="left" tooltip="Bookmark" ng-click="vm.navToolbarToggle(0); bookmark=!bookmark" ng-init="bookmark=false"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>

	</div>
</div>

<!--<div ng-repeat="panel in vm.panels" ng-include="'views/map/widgets/' + panel.name+ '.html'"></div>
-->
<div ng-include="'views/map/widgets/legend.html'"></div>
<div ng-include="'views/map/widgets/layers.html'"></div>
<div ng-include="'views/map/widgets/basemap.html'"></div>
<div ng-include="'views/map/widgets/select.html'"></div>
<div ng-include="'views/map/widgets/measure.html'"></div>
<div ng-include="'views/map/widgets/markup.html'"></div>
<div ng-include="'views/map/widgets/bookmark.html'"></div>
