<div class="panel panel-primary panel-fixed panel-main" id="basemap-panel" data-slide-toggle="basemapgal" data-slide-toggle-duration="500">
	<div class="panel-heading"><button type="button" class="close pull-right clickable" onclick="$( '#basemap-panel').fadeOut();" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
	Basemap Gallery</div>
	<div class="panel-body">
		<div id="BasemapGallery"></div>
	</div>
</div>

<div id="divRenderer"></div>
<div id="divGrid-outer">
	<div class="panel panel-info resize drag" id="data-panel" data-slide-toggle="data" data-slide-toggle-duration="500">
		<div class="panel-heading">Selected Data <span class="dataCount"></span> - drag & resize window
		<button type="button" class="close pull-right clickable" onclick="$('#data-panel').fadeOut();" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></div>
		<div class="panel-body">
			
			<div id="divGrid"></div>
		</div>
	</div>
</div>